<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>SportTrack Web App</title>

    <link rel="stylesheet" href="../style/style.css">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap" rel="stylesheet">
  </head>
  <body>
  <div class="block">
    <header class="header" id="header">
      <a href="/" class="logo">Sport Track</a>
      <nav class="header-menu" id="acc">
          <a id="acc" href="/apropos">À propos</a>
          <a id="acc" href="/upload">Ajout d'activités</a>
          <a id="acc" href="/activities">Liste d'activités</a>
          <a id="acc" href="/disconnect">Se déconnecter</a>
      </nav>
    </header>
  </div class="block">
