<div class="bannerCo">
    <img class="imgBack" src="../img/young-african-woman-running-isolated-on-white-studio-background-one-female-runner-or-jogger-silhouette-of-jogging-athlete.jpg">
    <div class="imgBack back"> </div>
     <div class="formulaire">
        <h3>Connexion</h3>
        <form action="/connect" method="post">
        <label>Email :</label><br>
        <input type="text" name="email" required><br>
        <label>Mot de passe</label> :<br>
        <input type="password" name="mdp" required><br><br>
        <input type="submit" value="se connecté"><br>
        </form>
    </div>
</div>
