html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h3 Connexion
        form(action='/connect', method='post')
            label(for='email') Email
            br
            input(type='email', name='email', required='')
            br
            label(for='password') Mot de passe :
            br
            input(type='password', name='password', required='')
            br
            br
            input(type='submit', value='Se connecter')
            br