html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 Ajouter un fichier d activite
        form(action="/upload" method="post" encType="multipart/form-data")
            div
                label(for="file") Fichier
                input(type="file" name="data" accept='.json')
            div
                input(type="submit" value="Envoyer")
            span #{error}